{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var rallData = []
var rfemaleData = []
var rmaleData = []
var vallData = []
var vfemaleData = []
var vmaleData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        rallData = data.rall
        rfemaleData = data.rfemale
        rmaleData = data.rmale

        vallData = data.vall
        vfemaleData = data.vfemale
        vmaleData = data.vmale

        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("allChart");
    var ctx1 = document.getElementById("femaleChart");
    var ctx2 = document.getElementById("maleChart");
    var ctx3 = document.getElementById("vallChart");
    var ctx4 = document.getElementById("vfemaleChart");
    var ctx5 = document.getElementById("vmaleChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднее Время Реакции',
              data: rallData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
    var myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднее Время Реакции(Девочки)',
              data: rfemaleData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
    var myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднее Время Реакции(Мальчики)',
              data: rmaleData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
    var myChart = new Chart(ctx3, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Средний порог болевой чувствительности',
              data: vallData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
    var myChart1 = new Chart(ctx4, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Средний порог болевой чувствительности(Девочки)',
              data: vfemaleData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
    var myChart2 = new Chart(ctx5, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Средний порог болевой чувствительности(Мальчики)',
              data: vmaleData,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });

}

{% endblock %}
</script>

{% block content %}

<div class="row justify-content-md-center">
  <div class='col-sm-12'>
    <h3>
        На базе Гимназии 29 в рамках подготовки к нпк были проведены тестирования на определение времени реакции и болевого порога
        среди учащихся и учителей.<br><br>
        На данный момент протестировано n человек разного возраста и пола.<br>
        Диаграммы отображают среднее время реакции 
        в разных половозрастных группах
    </h3>
    <br>
  </div>
</div>

<div class='col'>
  <div class="row justify-content-md-center">
        <div class='col-sm-5'>
            <canvas id="allChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="femaleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="maleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="vallChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="vfemaleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="vmaleChart" width="400" height="400"></canvas>
        </div>
</div>
<div class='col-sm-12'>
  <h3>
    Контакты: punisherpete@gmail.com
  </h3>
</div>

{% endblock content %}
