{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var rallData = []
var rfemaleData = []
var rmaleData = []
var vallData = []
var vfemaleData = []
var vmaleData = []
var labels = []
var call1 = [0,0,0,0,0]
var call2 = [0,0,0,0,0]
var call3 = [0,0,0,0,0]
var call4 = [0,0,0,0,0]
var call5 = [0,0,0,0,0]
var cnt = 0
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        cnt = data.cnt
        rallData = data.rall
        rfemaleData = data.rfemale
        rmaleData = data.rmale

        vallData = data.vall
        vfemaleData = data.vfemale
        vmaleData = data.vmale
        
        call1 = data.call1
        call2 = data.call2
        call3 = data.call3
        call4 = data.call4
        call5 = data.call5

        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    document.getElementById('cnt').innerHTML =
    "На базе Гимназии 29 в рамках подготовки к нпк были проведены тестирования на определение времени реакции и болевого порога среди учащихся и учителей.<br><br>На данный момент протестировано "+cnt+" человек разного возраста и пола.<br> Диаграммы отображают среднее время реакции в разных половозрастных группах"
    var ctx = document.getElementById("allChart");
    var ctx1 = document.getElementById("femaleChart");
    var ctx2 = document.getElementById("maleChart");
    var ctx3 = document.getElementById("vallChart");
    var ctx4 = document.getElementById("vfemaleChart");
    var ctx5 = document.getElementById("vmaleChart");
    var ctx6 = document.getElementById("call1");
    var ctx7 = document.getElementById("call2");
    var ctx8 = document.getElementById("call3");
    var ctx9 = document.getElementById("call4");
    var ctx10 = document.getElementById("call5");
    var bgc = [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ]
    var bdc = [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ]
       options={ 
    scales: {
      yAxes: [{
        ticks: {
          min: 100,
          max:120,
          stepSize: 1,
        }
      }]
    }
  };
       options1={ 
    scales: {
      yAxes: [{
        ticks: {
          min: 200,
          max:250,
          stepSize: 5,
        }
      }]
    }
  };
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднее Время Реакции',
              data: rallData,
              backgroundColor: bgc,
              borderColor: bdc,
              borderWidth: 1
          }]
      },
      options: options,
  });
    var myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднее Время Реакции(Девочки)',
              data: rfemaleData,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options,
  });
    var myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднее Время Реакции(Мальчики)',
              data: rmaleData,
              backgroundColor: bgc, 
              borderColor: bdc,
              borderWidth: 1
          }]
      },
      options: options,
  });
    var myChart3 = new Chart(ctx3, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Средний порог болевой чувствительности',
              data: vallData,
              backgroundColor: bgc,
              borderColor: bdc,
              borderWidth: 1
          }]
      },
      options: options,
  });
    var myChart4 = new Chart(ctx4, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Средний порог болевой чувствительности(Девочки)',
              data: vfemaleData,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options,
  });
    var myChart5 = new Chart(ctx5, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Средний порог болевой чувствительности(Мальчики)',
              data: vmaleData,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options,
  });
    var myChart6 = new Chart(ctx6, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднee время реакции(Vibration)',
              data: call1,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options1,
  });
    var myChart7 = new Chart(ctx7, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднee время реакции(Stereo Sound)',
              data: call2,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options1,
  });
    var myChart8 = new Chart(ctx8, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднee время реакции(Mono Sound)',
              data: call3,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options1,
  });
    var myChart9 = new Chart(ctx9, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднee время реакции(Picture Press)',
              data: call4,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options1,
  });
    var myChart10 = new Chart(ctx10, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Среднee время реакции(Picture Release)',
              data: call5,
              backgroundColor: bgc, 
              borderColor: bdc, 
              borderWidth: 1
          }]
      },
      options: options1,
  });

}

{% endblock %}
</script>

{% block content %}

<div class="row justify-content-md-center">
  <div class='col-sm-12'>
    <h3 id="cnt">
    </h3>
    <br>
  </div>
</div>

<div class='col'>
  <div class="row justify-content-md-center">
        <div class='col-sm-5'>
            <canvas id="allChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="femaleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="maleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="vallChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="vfemaleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="vmaleChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="call1" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="call2" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="call3" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="call4" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-5'>
            <canvas id="call5" width="400" height="400"></canvas>
        </div>
</div>
<div class='col-sm-12'>
  <h3>
    Контакты: punisherpete99@gmail.com
  </h3>
</div>

{% endblock content %}
